---
import { getCollection } from 'astro:content';
import MdxLayout from '@layouts/MdxLayout.astro';

export async function getStaticPaths() {
  const notesEntries = await getCollection('notes');
  return notesEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MdxLayout frontmatter={entry.data} title={entry.data.title}>
  <h1>{entry.data.title}</h1>
  <Content />
</MdxLayout>

<style>
  h1 {
    font-size: 4rem;
  }
</style>
