---
import { getCollection, type CollectionEntry } from 'astro:content';
import MdxLayout from '@layouts/MdxLayout.astro';

export async function getStaticPaths() {
  const notesEntries = await getCollection('notes');
  return notesEntries.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry },
    };
  });
}

interface Props {
  entry: CollectionEntry<'notes'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<MdxLayout frontmatter={entry.data} title={entry.data.title}>
  <div class='my-6 py-3'>
    <h1 class='text-5xl text-shadow-heading tracking-wide'>{entry.data.title}</h1>
  </div>
  <Content />

  <div class='flex gap-4 my-3 flex-wrap text-headings font-black text-xl py-4'>
    {entry.data.tags.map((tag) => <span class='leading-none'>#{tag}</span>)}
  </div>
  <div class='my-6 py-3'>
    <span><a class='text-2xl font-bold no-underline text-headings hover:underline' href='/notes'>&larr; Go Back</a></span>
  </div>
</MdxLayout>
