@import "tailwindcss";

@theme {
  --color-main-bg: hsl(36, 43%, 85%);
  --color-card-bg: hsl(36, 43%, 90%);
  --color-text-primary: hsl(0, 0%, 29%);
  --color-headings: hsla(0, 16%, 29%, 1);
  --color-hover-gold: hsl(45, 60%, 48%, 0.2);
  --color-gold-start: hsl(45, 60%, 48%);
  --color-gold-end: hsl(42, 86%, 32%);
  --color-text-shadow: hsl(209, 23%, 23%);

  --font-roboto: "Roboto", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  --max-width-container: 900px;
}

@utility text-shadow-heading {
  text-shadow: 2px 2px 2px hsl(209, 23%, 23%);
}

@utility bg-gold-gradient {
  background-image: linear-gradient(to right top, hsl(45, 60%, 48%), hsl(42, 86%, 32%));
}
