---
import MainLayout from '@layouts/MainLayout.astro';
import Heading from '@components/Heading.astro';
---

<MainLayout title='About Nala'>
  <div class='container'>
    <Heading heading='About' subheading='The Nala Story' />
  </div>
</MainLayout>

<style>
  .title {
    padding: 20px 0;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 16px 20px;
  }
</style>
