---
import MainLayout from '../layouts/MainLayout.astro';
import { Picture } from '@astrojs/image/components';
// import nalaPic from '../images/nala-playing.jpg';
---

<MainLayout>
  <div class='container'>
    <div class='title'>
      <h1>Astro</h1>
      <h2>As simple as I can make it!</h2>
    </div>
    <section>
      <p>This is going to be where I put in some content and play around with how this works!</p>
      <p>
        I am going to go into all of the aspects of Astro and figure out what works, by trying out a
        lot of things.
      </p>
      <p>Here is another paragraph tag - and this is more content!</p>
    </section>
    <figure>
      <Picture
        src={import('../images/nala-playing.jpg')}
        alt='Golden Retriever Playing on a lawn'
        widths={[200, 300, 600]}
        sizes='(max-width: 600px) 100vw, 600px'
        aspect-ratio='1:1'
      />
    </figure>
  </div>
</MainLayout>

<style>
  .title {
    padding: 20px 0;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
    margin: 16px 0;
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  figure {
    padding: 24px 0;
  }
</style>
