---
import MainLayout from '@layouts/MainLayout.astro';
import Heading from '@components/Heading.astro';
import Container from '@components/Container.astro';
import { Picture } from '@astrojs/image/components';
import nalita from '@images/nalita.jpg';
import nalaPic from '@images/nala-playing.jpg';
import sleepingNala from '@images/nala-sleeping.jpg';
---

<MainLayout title='Nala the Astronaut - Home'>
  <Container>
    <Heading heading='Nala' subheading='The Astronaut' />
    <section>
      <h3>Our First Dog</h3>
      <p>
        The Davis Family never had a dog before Nala. We knew nothing about raising a dog prior to
        her arrival at our home.
      </p>
      <p>
        This site is about our love for her and the work and learning that goes into caring for
        Nala.
      </p>
      <p>This is little space on the web is a <strong>celebration of our Nala!</strong></p>
    </section>
    <figure>
      <Picture
        src={nalita}
        alt='Golden Retriever portrait'
        widths={[200, 300, 600, 900]}
        sizes='(max-width: 900px) 100vw 900px'
        aspectRatio={1 / 1}
        fit='fill'
      />
    </figure>
    <figure>
      <Picture
        src={nalaPic}
        alt='Golden Retriever playing on a lawn'
        widths={[200, 300, 600, 900]}
        sizes='(max-width: 900px) 100vw 900px'
        aspectRatio={1 / 1}
      />
    </figure>
    <figure>
      <Picture
        widths={[200, 300, 600, 900]}
        sizes='(max-width: 900px)100vw 900px'
        src={sleepingNala}
        alt='Golder Retriever sleeping on carpet'
        aspectRatio={1 / 1}
      />
    </figure>
  </Container>
</MainLayout>

<style>
  h3 {
    text-shadow: 2px 2px 2px hsl(209, 23%, 23%);
    font-size: 2rem;
  }

  section {
    margin-top: 24px;
    padding-top: 12px;
  }

  img {
    border-radius: 2%;
  }
</style>
