---
import MainLayout from '@layouts/MainLayout.astro';
import Heading from '@components/Heading.astro';
import Container from '@components/Container.astro';
---

<MainLayout title='React Components'>
  <Container>
    <Heading heading='React' subheading='My React Laboratory' />
    <div>
      <code>TODO: React components will go here</code>
    </div>
  </Container>
</MainLayout>
