---
import MainLayout from '@layouts/MainLayout.astro';
import Heading from '@components/Heading.astro';
import Container from '@components/Container.astro';
---

<MainLayout title='Solid Components'>
  <Container>
    <Heading heading='Solid' subheading='Solid TS Sandbox' />
    <div>
      <code>TODO: Solid components will go here</code>
      <br />
      <code>TODO: Remember to use the following: /** @jsxImportSource solid-js */</code>
      <!-- The above line need to be on per file basis - pragma -->
      <!-- https://docs.astro.build/en/guides/typescript/#troubleshooting -->
    </div>
  </Container>
</MainLayout>
