---
import MainLayout from '@layouts/MainLayout.astro';
import Heading from '@components/Heading.astro';
import Container from '@components/Container.astro';
---

<MainLayout title='Solid Components'>
  <Container>
    <Heading heading='Solid' subheading='My Solid Laboratory' />
    <div>
      <code>TODO: Solid components will go here</code>
    </div>
  </Container>
</MainLayout>
