---
---

<footer>
  <div><p>This will be my footer</p></div>
</footer>

<style>
  footer {
    background: linear-gradient(to right top, hsl(45, 60%, 38%), hsl(42, 86%, 22%));
    color: white;
    padding: 8px 0;
  }
</style>
