---
interface Props {}

import { Icon } from 'astro-icon/components';
---

<footer class='bg-gold-gradient text-white border-t-2 border-white'>
  <div class='flex flex-col items-center text-white my-3'>
    <a
      href='https://github.com/papadavis47/nala-the-astronaut'
      target='_blank'
      rel='noopener noreferrer'
    >
      <Icon name='grommet-icons:github' class='w-[43px] h-[43px] text-white' />
    </a>
    <span class='text-white text-xl font-medium mt-3'
      >Made with &hearts; & <a target='_blank' rel='noopener noreferrer' href='https://astro.build' class='text-white no-underline'
        >Astro</a
      ></span
    >
  </div>
</footer>

<style>
  /* Icon size overrides for astro-icon */
  [astro-icon='grommet-icons:github'] {
    color: white !important;
    width: 43px !important;
    height: 43px !important;
  }

  svg {
    color: white !important;
    width: 43px !important;
    height: 43px !important;
  }
</style>
