---
---

<footer>
  <div><p>This will be my footer</p></div>
</footer>

<style>
  footer {
    background: linear-gradient(to right top, hsl(45, 60%, 48%), hsl(42, 86%, 32%));
    color: white;
    padding: 16px 0;
  }
</style>
