---
---

<footer>
  <div><p>This will be my footer</p></div>
</footer>

<style>
  footer {
    height: 80px;
    color: white;
    background-color: gray;
    border-top: 3px solid black;
  }
</style>
