---
---

<footer>
  <div><p>This will be my footer</p></div>
</footer>

<style>
  footer {
    color: white;
    background-color: gray;
    border-top: 2px solid black;
    padding: 8px 0;
  }
</style>
