---
interface Props {
  heading: string;
  subheading: string;
}

const { heading, subheading } = Astro.props;
---

<div class='mt-6 py-5 leading-none'>
  <h1 class='text-8xl text-shadow-heading'>{heading}</h1>
  <h2 class='text-4xl font-bold text-shadow-heading'>{subheading}</h2>
</div>
