---
---

<nav>
  <div>
    <div><p>This will be my navbar</p></div>
    <div>Just sketching it out for now.</div>
  </div>
</nav>

<style>
  nav {
    background: linear-gradient(to right top, hsl(45, 60%, 38%), hsl(42, 86%, 22%));
    color: white;
    padding: 8px 0;
  }
</style>
