---
---

<nav>
  <div>
    <div><p>This will be my navbar</p></div>
    <div>Just sketching it out for now.</div>
  </div>
</nav>

<style>
  nav {
    background-color: gray;
    border-bottom: 2px solid black;
    color: white;
    padding: 8px 0;
  }
</style>
