---
import { Icon } from 'astro-icon';
---

<nav>
  <div class='menu-container'>
    <a href='/'> <Icon name='mdi:dog-side' /></a>
    <div class='links-container'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/about'>About Nala</a></li>
        <li><a href='/astro-story'>Astro</a></li>
        <li><a href='/blog'>Blog</a></li>
        <li><a href='/frameworks'>Frameworks</a></li>
      </ul>
      <button>
        <Icon name='radix-icons:hamburger-menu' />
      </button>
    </div>
  </div>
</nav>

<style>
  /* Icons  */

  [astro-icon='mdi:dog-side'] {
    color: white;
    width: 56px;
  }

  [astro-icon='radix-icons:hamburger-menu'] {
    color: white;
    width: 24px;
  }

  /* --- */

  /* Class Selectors */

  .menu-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
    align-items: center;
  }

  /* ---- */

  /* Element Selectors */

  li a:hover {
    background: var(--hover);
    border-radius: 5%;
  }

  button {
    display: block;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }

  nav {
    /* I always forget these next two lines. But I have them now. */
    position: sticky;
    top: 0;
    background: linear-gradient(to right top, hsl(45, 60%, 48%), hsl(42, 86%, 32%));
    color: white;
    padding: 8px 0;
  }

  ul {
    display: none;
  }

  li {
    list-style-type: none;
  }

  ul a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 12px;
    white-space: nowrap;
  }

  /* ------- */

  /* Media Queries */

  @media (min-width: 700px) {
    button {
      display: none;
    }
  }

  @media (min-width: 700px) {
    ul {
      display: flex;
      gap: 32px;
      align-items: center;
    }
  }

  /* ------ */
</style>
