---
interface Props {}

import { Icon } from 'astro-icon/components';
---

<div>
  <nav class='sticky top-0 bg-gold-gradient text-white py-2 border-b-2 border-white'>
    <div class='flex justify-between max-w-container mx-auto px-6 items-center'>
      <a href='/'>
        <Icon name='mdi:dog-side' class='w-[67px] h-[67px] text-white' />
      </a>
      <div class='links-container'>
        <ul class='hidden md:flex md:gap-8 md:items-center'>
          {
            Astro.url.pathname !== '/' && (
              <li>
                <a href='/' class='block text-inherit no-underline text-xl mt-3 whitespace-nowrap hover:bg-hover-gold hover:rounded-sm'>Home</a>
              </li>
            )
          }
          <li><a href='/about' class='block text-inherit no-underline text-xl mt-3 whitespace-nowrap hover:bg-hover-gold hover:rounded-sm'>About Nala</a></li>
          <li><a href='/notes' class='block text-inherit no-underline text-xl mt-3 whitespace-nowrap hover:bg-hover-gold hover:rounded-sm'>Notes</a></li>
          <li><a href='/astro-story' class='block text-inherit no-underline text-xl mt-3 whitespace-nowrap hover:bg-hover-gold hover:rounded-sm'>Astro</a></li>
          <li><a href='/react' class='block text-inherit no-underline text-xl mt-3 whitespace-nowrap hover:bg-hover-gold hover:rounded-sm'>React</a></li>
          <li><a href='/solid' class='block text-inherit no-underline text-xl mt-3 whitespace-nowrap hover:bg-hover-gold hover:rounded-sm'>Solid</a></li>
        </ul>
        <button class='block md:hidden bg-transparent text-white border-none cursor-pointer'>
          <Icon name='radix-icons:hamburger-menu' class='w-[29px] h-[29px] text-white' />
        </button>
      </div>
    </div>
  </nav>
</div>

<style>
  /* Icon size overrides for astro-icon */
  [astro-icon='mdi:dog-side'] {
    color: white !important;
    width: 67px !important;
    height: 67px !important;
  }

  [astro-icon='radix-icons:hamburger-menu'] {
    color: white !important;
    width: 29px !important;
    height: 29px !important;
  }

  svg {
    color: white !important;
  }

  .links-container > a svg {
    width: 67px !important;
    height: 67px !important;
  }

  button svg {
    width: 29px !important;
    height: 29px !important;
  }

  li {
    list-style-type: none;
  }
</style>
