---
---

<nav>
  <div>
    <div><p>This will be my navbar</p></div>
    <div>Just sketching it out for now.</div>
  </div>
</nav>

<style>
  nav {
    height: 80px;
    background-color: gray;
    border-bottom: 2px solid black;
  }
</style>
