---
import Footer from '@components/Footer.astro';
import NavBar from '@components/NavBar.astro';
import '@fontsource/roboto';
import '@fontsource/open-sans';
import '@styles/globalStyles.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class='layoutWrapper'>
      <NavBar />
      <div class='contentWrapper'>
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  .layoutWrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .contentWrapper {
    flex: 1;
    background-color: var(--main-background);
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--text);
    font-size: 1.25rem;
    margin: 16px 0;
  }

  figcaption {
    color: var(--text);
    font-size: 1rem;
    padding: 8px 0;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }

  figure {
    padding: 24px 0;
  }

  h1,
  h2,
  h3 {
    color: var(--headings);
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
</style>
