---
import MainLayout from './MainLayout.astro';

const { title } = Astro.props;
---

<MainLayout title={title}>
  <div class='mdx-wrapper'>
    <slot />
  </div>
</MainLayout>

<style>
  h1 {
    font-size: 3rem;
  }

  p {
    font-weight: 600;
  }

  .mdx-wrapper {
    max-width: 1000px;
    margin: 32px auto;
    padding: 0 24px;
  }
</style>
