---
interface Props {
  title: string;
  frontmatter?: Record<string, any>;
}

import MainLayout from './MainLayout.astro';
import Container from '@components/Container.astro';
import { getEntryBySlug } from 'astro:content';

const { title } = Astro.props;
---

<MainLayout title={title}>
  <Container>
    <div class='mdx-content'>
      <slot />
    </div>
  </Container>
</MainLayout>

<style is:global>
  .mdx-content h1 {
    @apply text-5xl;
  }

  .mdx-content p {
    @apply font-semibold;
  }
</style>
